.career-card {
    background: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1.5rem;
    width: 315px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
    /* padding-left: 1rem;
    padding-right: 1rem; */
}

.career-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.career-title {
    margin-bottom: 1rem;
    color: #008080; /* Teal */
    font-size: 1.5rem;
    font-weight: bold;
}

.career-detail {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #666;
}

.career-apply-button {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    background-color: #ff7f50; /* Coral */
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.career-apply-button:hover {
    background-color: #e5673d; /* Darker Coral */
}

/* Responsive Design */
@media (max-width: 768px) {
    .career-card {
        width: 90%;
    }
}
